<div class="container">
  <h4>Elements#index</h4>

  <% @all_elements.each do |element| %>
    <h5><%= element.id %></h5>
    <p><%= element.width %></p>
    <p><%= element.height %></p>
    <p><%= element.top %></p>
    <p><%= element.left %></p>
  <% end %>
</div>
