<div class="container">
  <div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large deep-orange z-depth-0">
      <i class="material-icons">settings</i>
    </a>
    <ul>
      <li><a href= "<%= edit_wireframe_path(@wireframe) %>" class="btn-floating red z-depth-0"><i class="material-icons">edit</i></a></li>

      <li><a href="<%= wireframe_path(@wireframe) %>" data-confirm="Are you sure?" data-method="delete" class="delete btn-floating yellow darken-1 z-depth-0"><i class="material-icons">delete_forever</i></a></li>

      <li><a href= "<%= wireframe_path(@wireframe) %>" class="btn-floating green z-depth-0"><i class="material-icons">save</i></a></li>
    </ul>
  </div>

    <%= render "column-12" %>

</div>

<script type="text/javascript">
  var elements = <%= @wireframe.elements.to_json.html_safe %>;

  elements.forEach(function (elem) {
    var $newElement = $("<div></div>");
    $newElement.addClass("draggable");
    $newElement.attr("data-id", elem.id);
    $newElement.addClass(elem.element_type);

    var desiredHTML = $("#" + elem.element_type).html();
    // console.log(desiredHTML);
    $newElement.append(desiredHTML);

    $newElement.css({
      "position": "absolute",
      "top": elem.top + "px",
      "left": elem.left + "px",
      "width": elem.width + "px",
      "height": elem.height + "px",
      "background": "green"
    })
    $newElement.appendTo("body");
  });

</script>
