<!DOCTYPE html>
<html>
  <head>
    <title>WireframeApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <nav>
      <div class="nav-wrapper container">
        <!-- side-nav start -->
        <ul id="slide-out" class="side-nav">
          <li><a href="#!">Second Sidebar Link</a></li>
          <li><a href="#!">Second Sidebar Link</a></li>
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li>
                <a class="collapsible-header">Header &amp; Footer<i class="material-icons">add </i></a>
                <div class="collapsible-body">
                  <ul>
                    <li>
                      <div class="userView">
                        <!-- <p class="grey-text">Header</p> -->
                        <div id="header" class="ui-widget-content draggable" style="background: #e0e0e0; min-height: 74px; color: #ffffff; width: 200px;">
                          <i class="material-icons">menu</i>
                        </div>
                      </div>
                    </li>
                    <li><a href="#!">Second</a></li>
                    <li><a href="#!">Third</a></li>
                    <li><a href="#!">Fourth</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
        <!-- side-nav end -->

        <a href="/" class="brand-logo center">WIREFRAME</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/wireframes/new">New Project</a></li>
          <% if @current_user %>
              <li><%= link_to("Log Out", login_path, :method => :delete) %></li>
              <li><a href= "<%= user_path(@current_user) %>"><%= @current_user.name %></a></li>
            <% else %>
              <li><%= link_to("Login", login_path) %></li>
              <li><%= link_to("Sign Up", new_user_path) %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <main>
      <%= yield %>
    </main>

    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
        © 2017 Wireframe
        </div>
      </div>
    </footer>


  </body>
</html>
